services:
  mongo:
    image: mongo:6
    container_name: dd-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    image: mdkhurram/dd-mean-backend:latest
    container_name: dd-backend
    restart: always
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    image: mdkhurram/dd-mean-frontend:latest
    container_name: dd-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"

  nginx:
    image: nginx:alpine
    container_name: dd-nginx
    restart: always
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mongo_data:
